.articles {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.articles__figure {
    height: 300px;
    width: 450px;
    background-color: rgb(68, 68, 68);
    position: relative;
}
.article__image {
    height: 300px;
    width: 450px;
}
.article-title {
    position: absolute;
    
}


