
.menu-icon {
    position: relative;
    top: 35px;
    right: 5px;
    margin-left: auto;
	width: 2rem;
	height: 1.5rem;
	position: relative;
    z-index: 2;
    margin-right: 20px;
    color: white;
	cursor: pointer;
	
	& &--bar-top,
	& &--bar-middle,
	& &--bar-bottom {
		background: #fff;
		height: 3px;
		width: 2em;
		margin: 5px 0;
		display: block;
		transition: all .25s;
		position: absolute;
	}
	
	& &--bar-top {
		top: 0;
	}
	
	& &--bar-middle {
		top: 50%;
	}
	
	& &--bar-bottom {
		top: 100%;
	}
	
	&.active &--bar-top,
	&.active &--bar-bottom {
		transform-origin: center;
	}
	
	&.active &--bar-top {
		transform: rotate(45deg);
		top: 50%;
	}
	
	&.active &--bar-middle {
		opacity: 0;
	}
	
	&.active &--bar-bottom {
		transform: rotate(-45deg);
		top: 50%;
	}
}


