.hamburger {
    position: absolute;
    top: 40px;
    right: 400px;
    width: 40px;
    height: 31px;
    border: 0;
    border-top: 3px solid #fff;
    background: transparent;
    margin-right: 20px;
    z-index: 200;
    font-size: 0;
    cursor: pointer;

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 3px solid #fff;
        transform: translateY(10px);
    }

    &:after{
        transform: translateY(23px);
    }
  }

  .header__button--close {
    z-index: 111;
    width: 40px;
    height: 25px;
    border: 0;
    background: transparent;
    position: absolute;
    top: 50px;
    right: 400px;
    margin-right: 17px;
    padding: 0;
    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 3px solid #fff;
        -webkit-transform: rotate(45deg) translateY(5px);
                transform: rotate(45deg) translateY(5px);
    }

    &::after {
        -webkit-transform: rotate(-45deg) translateX(-5px);
                transform: rotate(-45deg) translateX(-5px);
    }

  }