
.hamburger {
    position: relative;
    top: 35px;
    right: 10px;
    margin-left: auto;
    width: 35px;
    height: 22px;
    border: 0;
    border-top: 2px solid #fff;
    background: transparent;
    margin-right: 20px;
    z-index: 200;
    font-size: 0;
    outline: 0;
    cursor: pointer;

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        border-top: 2px solid #fff;
        transform: translateY(7px);
    }

    &:after{
        transform: translateY(16px);
        width: 110%;
    }
  }

  .header__button--close {
    z-index: 111;
    width: 40px;
    height: 25px;
    border: 0;
    background: transparent;
    position: absolute;
    top: 50px;
    left: 10px;
    margin-right: 17px;
    padding: 0;
    outline: 0;
    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border-top: 2px solid #fff;
        -webkit-transform: rotate(45deg) translateY(5px);
                transform: rotate(45deg) translateY(5px);
    }

    &::after {
        -webkit-transform: rotate(-45deg) translateX(-5px);
                transform: rotate(-45deg) translateX(-5px);
    }

  }

  .fa-caret-down {
      color:rgb(207, 23, 23);
  }