.header {
    position: fixed;
    top:0;
    width: 100%;
    z-index: 100;
    background-color: #2B2B2B;
    -webkit-transition: .2 ease-in;
    transition: .2 ease-in;
    height: 90px;
}

.header__logo {
    width: 110px;
    margin-top: -30px;
    cursor: auto;
}
.header__nav {
    visibility: hidden;
    z-index: 100;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    position: absolute;
    left: 0;
    top:0 ;
    opacity: 1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .1);
    -webkit-transition: opacity 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: opacity 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    color: black;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
  }
  
  .header__sort-country {
    margin-left: auto;
    list-style: none;
    margin-top: 32px;

    .header__sort-item {
        color: white;
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        font-size: 19px;
        padding: 5px;
        &:hover ul{
            position: static;
            bottom: 200px;
            opacity: 1;
            margin-top: 10px;
        }

        .flag-icon {
            width: 20px;
        }

        ul{
            position: absolute;
            left: 9999px;
            opacity: 0;
            transition: all .2s ease-in-out;    
            -webkit-transition: all .2s ease-in-out;
            margin-left: -40px;
        
            .list-item {
                list-style: none;
                padding: 10px 20px;
                background: #2B2B2B;
                font-size: 16px;
                a {
                    color: white;
                    text-decoration: none;
                }

                &:hover {
                    background-color: rgb(109, 108, 108)
                }
            }
          }

         

    }
  }
  
  /*.header__list-n-list {
      background: #1761A0;
      padding: 20px 50px 20px 5px;
      .list-item {
          list-style: none;
      }
  
  }*/


  .nav__list--item {
    color: black;
    text-align: center;
    list-style: none;
    padding: 85px;   
  }
  .visible {
      visibility: visible;
  }
  
  .nav--link {
    color: white;
    padding:  10px 20px;
    border: 2px solid white;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    
  }

  .nav__list {
    width: 100%;
    padding: 0;
    text-align: center;
    transition: .5s;
    .top {
        background: url('../../dist/images/navigation/top.jpeg');
        position: relative;
        background-size: cover;
        background-position: center;
        z-index: 50;
        &::before {
            background-color:  rgba(255, 65, 54, .6);
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }

     
    }
    .business {
        background-image: url('../../dist/images/navigation/business.jpg');
        position: relative;
        background-size: cover;
        background-position: center;
        z-index: 50;
        &::before {
            background-color: rgba(0, 31, 63, .6);
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }
    .sport {
        background-image: url('../../dist/images/navigation/sport.jpg');
        position: relative;
        background-size: cover;
        background-position: center;
        z-index: 50;
        &::before {
            background-color:  rgba(61, 153, 112, .6);
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }
    .tech {
        background-image: url('../../dist/images/navigation/tech.jpg');
        position: relative;
        background-size: cover;
        background-position: center;
        z-index: 50;
        &::before {
            background-color:  rgba(141, 7, 161, 0.6);
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }
    .entertaitment {
        background-image: url('../../dist/images/navigation/entertaitment.jpg');
        position: relative;
        background-size: cover;
        background-position: center;
        z-index: 50;
        &::before {
            background-color:  rgba(238, 241, 12, 0.6);
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    }
  }
