@import 'header';
@import 'articles';
@import 'buttons';

html{
    margin: 0;
	padding: 0;
    border: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    //height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Krub', sans-serif;
    //background-color: #EEEEEE;
 }


 .header__container, .section__container, .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    //padding: 0 20px 0 20px;
}
.section__container {
    padding: 230px 20px 150px 20px;
}

